<div class="header">
	<h1 class="header__text">Smash.gg Team-Player Finder</h1>
</div>
<div class="form">
	<span>Enter the url of your tournament:</span><br>
	<input class="form__input" [(ngModel)]="tournamentUrl">
	<button class="form__submit-button" (click)="submitUrl()">Test</button>

</div>

<div *ngIf="tournamentTeams" class="teams-container">
	<Label>Filter search by </Label>
	<select [(ngModel)]="autoCompleteOption" (ngModelChange)="setFilteredNames()">	
		<option *ngFor="let option of autoCompleteOptions" [value]="option">{{option}} name:</option>
	</select>
	
	<mat-form-field>
		<input 
			matInput 	
			type="text"
			placeholder="search word" 
			[matAutocomplete]="test"
			[formControl]="searchTerm"
		>
		<mat-autocomplete #test="matAutocomplete">
			<mat-option *ngFor="let item of filteredNames | async" [value]="item">
				{{item}}
			</mat-option>
		</mat-autocomplete>

		<!-- <mat-autocomplete #test2="matAutocomplete">
			<mat-option *ngFor="let item of filteredNames | async" [value]="item">
				{{item}}
			</mat-option>
		</mat-autocomplete>		 -->
		
	</mat-form-field>

	<table class="teams-table">
		<thead>
			<th class="teams-table__head">Team</th>
			<th class="teams-table__head">Players</th>
		</thead>
		<tbody class="teams-table__rows">
			<tr *ngFor="let team of tournamentTeams">
				<td class="teams-table__cell">{{team.name}}</td>
				<td class="teams-table__cell">{{team.player1Tag}} & {{team.player2Tag}}</td>
			</tr>
		</tbody>
	</table>
</div>