<div class="header">
	<h1 class="header__text">Smash.gg Team-Player Finder</h1>
</div>
<div class="form">
	<span>Enter the url of your tournament:</span><br>
	<input class="form__input" [ngModel]="tournamentUrl" (ngModelChange)="onTournamentUrlChange($event)">
	<button class="form__submit-button" (click)="submitUrl()">Test</button>
</div>
<div *ngIf="tournamentTeams" class="teams-container">
	<table class="teams-table">
		<thead>
			<th class="teams-table__head">Team</th>
			<th class="teams-table__head">Players</th>
		</thead>
		<tbody class="teams-table__rows">
			<tr *ngFor="let team of tournamentTeams">
				<td class="teams-table__cell">{{team.name}}</td>
				<td class="teams-table__cell">{{team.player1Tag}} & {{team.player2Tag}}</td>
			</tr>
		</tbody>
	</table>
</div>